.card {
  background: #f5f7fa;
  padding: 16px;
  text-align: center;
}

p {
  margin-top: 16px;
  margin-bottom: -4px;
}

img {
  width: 90%;
  margin: 0 auto 32px;
  transition: all 0.2s ease;
}

img:hover {
  width: 100%;
  border: 1px solid #eee
}